# Example ssl configuration file for use with generating
# keys and other information

[ req ]
#default_bits		= 2048
#default_md		= sha256
#default_keyfile 	= privkey.pem
distinguished_name	= req_distinguished_name
attributes		= req_attributes

# Disable interactive prompt
prompt = no


[ req_distinguished_name ]
countryName			= US
stateOrProvinceName		= California
localityName			= Tiburon
0.organizationName		= company
organizationalUnitName		= section
commonName			= celestia.net
emailAddress			= john.ellis1392@gmail.com

# These fields don't work cuz I dunno
# countryName_min			= 2
# countryName_max			= 2
# commonName_max			= 64
# emailAddress_max		= 64


[ req_attributes ]
challengePassword		= password

# These are broken too
# challengePassword_min		= 4
# challengePassword_max		= 20

